<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CRM GraphQL Query Tool</title>

    <link rel="icon" type="image/ico" href="/crm/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/crm-graphql.css}"/> 

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Magex.ca</a>
     <ul class="navbar-nav" >
      <li  class="nav-item">
        <a class="nav-link" th:href="@{/home}">Home</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" th:href="@{/auth}">Auth</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" th:href="@{/rest}">Rest</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link active" th:href="@{/graphql/query}">GraphQL</a>
      </li>      
    </ul>
    <ul class="navbar-nav ml-auto" >
      <li  class="nav-item">
        <a class="nav-link" href="#" th:text=${username}></a>
      </li>
    </ul>
</nav>

<main role="main" class="container-fluid">

    <div class="query-template">
        <h1>CRM GraphQL Query</h1>        
    </div>
    
    <div class="row m-1 p-1">
      <div class="col-sm-12 col-xl-6 border bg-light">
        <div class="row">
          <div class="col-sm-12">
            <label for="queryInput">Query:</label>
           </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <textarea id="query-input" class="form-control query-input" rows="20"></textarea>
          </div>
        </div>            
        <div class="row">
          <div class="col-sm-12">
            <label for="queryInput">Bearer Token:</label>
           </div>
        </div>
        <div class="row">        
          <div class="col-sm-12">
            <input id="bearer-token" type="text" class="form-control"/>
          </div>          
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button id="query-button" class="btn btn-outline-primary float-right mt-3 mb-3">Execute</button>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-xl-6 border bg-light">        
         <label for="queryInput">Response:</label>
         <textarea id="query-response" class="form-control query-input" rows="23"></textarea> 
         <button class="btn btn-outline-primary float-right mt-3 mb-3">Copy</button>
      </div>
    </div>
    
    <form th:action="@{/logout}" method="POST">
      <input type="submit" value="Sign Out"/>
    </form>
</main>
<!-- /.container -->

<!-- must load JQuery before loading Bootstrap or else bad things happen --> 
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
  $("#query-button").click(function(){
  var token = $("#bearer-token").val();
  var queryRequest = {
    query: $("#query-input").val()
  }
  
  var server = /*[[${server}]]*/;
  
  jQuery.ajax(
    {
      type: "POST",
      url:  server + "/graphql",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify(queryRequest),
      success: function(result) {
        if (result.dataPresent) {
          var queryResponse = JSON.stringify(result.data, null, 3);
          $("#query-response").val(queryResponse);
        }
        else {
          var queryError = JSON.stringify(result.errors, null, 3);
          $("#query-response").val(queryError);
        }
      },
      headers: {
        Authorization : "Bearer " + token,        
      },
      error: function(jqXHR, textStatus, errorThrown){
        alert(textStatus + errorThrown);
      }
    });
  });
  
  $(document).delegate('#query-input', 'keydown', function(e) {
	  var keyCode = e.keyCode || e.which;

	  if (keyCode == 9) {
	    e.preventDefault();
	    var start = this.selectionStart;
	    var end = this.selectionEnd;

	    // set textarea value to: text before caret + tab + text after caret
	    $(this).val($(this).val().substring(0, start)
	                + "\t"
	                + $(this).val().substring(end));

	    // put caret at right position again
	    this.selectionStart =
	    this.selectionEnd = start + 1;
	  }
	});
});
/*]]>*/
</script>
</body>
</html>