# Giver our server a name
spring.application.name=crm-basic-resource-server

# Disable Mongo Auto configuration
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration,org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration

# Basic authenticated CRM
spring.profiles.active=Basic,AuthEmbeddedHmac,Dev

# Caching Layer
crm.caching.services.enabled=true

# local server
server.servlet.context-path=/crm
server.port=9002
server.external.address=localhost

# JWT Token Properties
jwt.expiration.hours=5
jwt.request.filter.ignore=/authenticate

# HMAC Symmetric Key Secret 
jwt.hmac.secret=YouEverDanceWithTheDevilInThePaleMoonLight

# actuator will be accessible on http://localhost:9003/actuator (including remote shutdown)
management.endpoints.web.exposure.include=*
management.endpoints.web.base-path=/actuator
management.endpoint.shutdown.enabled=true
management.server.port=9003
endpoints.shutdown.enabled=true

# set specific log levels
logging.level.ca.magex.crm.caching=INFO
logging.level.org.springframework.security=INFO